.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.problem {
  background: #fff;
  margin: 0 0  20px;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s ease;
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
  border-left: solid 1px #ddd;
  border-right: solid 1px #aaa;
}

.problem_title{
  margin: 0 0 10px;
  color: #444;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.problem_description{
  color: #666;
  line-height: 1.5rem;
  font-size: 0.875rem;
}

.problem_question{
  color: #444;
  line-height: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.problem_btn{
  display: inline-block;
  background: #2196F3;
  padding: 8px 10px;
  margin: 0 0 10px;
  color: #FFF;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.problem_btn:active{
  box-shadow: none;
  background: rgb(23, 146, 23);
  transform-origin: center;
  transform: scale(0.98);
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 10px;
}
.column {
  flex-basis: 50%;
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}