.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.problem {
  background: #fff;
  margin: 0 0  20px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
}

.problem:hover{
    box-shadow: 0 2px 4px rgba(#000, 0.2),
     0 4px 8ox rgba(#000,0.2);
}
.problem:active{
  box-shadow: none;
  transform-origin: center;
  transform: scale(0.98);
}
